<?xml version="1.0" encoding="UTF-8"?>
    <manifest package="comp5216.sydney.edu.au.mediaaccess20"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-feature android:name="android.hardware.camera"
        android:required="true"/>
    <!-- Add permission for writing and reading external storage space (not in the private app folder) -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <application android:theme="@style/AppTheme"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:allowBackup="true">


    <provider android:name="android.support.v4.content.FileProvider"
        android:exported="false" android:grantUriPermissions="true"
        android:authorities="comp5216.sydney.edu.au.mediaaccess20.fileProvider">

    <meta-data android:name="android.support.FILE_PROVIDER_PATHS"
        android:resource="@xml/file_paths"/>

</provider>
    <activity android:name="comp5216.sydney.edu.au.mediaaccess20.ActivityWeek05"
        android:label="@string/app_name">
        <intent-filter>
            <action android:name="android.intent.action.MAIN"/>
            <category android:name="android.intent.category.LAUNCHER"/>
        </intent-filter>
    </activity>

</application>

</manifest>